
@if(message.length > 0){
    <div class="container mt-2">        
            <div class="alert alert-success text-center " role="success">
                {{message}}                                   
            </div>                                
    </div>
}
@if(messageWarn.length > 0){
    <div class="container mt-2">        
            <div class="alert alert-warning text-center " role="success">
                {{messageWarn}}                                   
            </div>                                
    </div>
}

<div class="imgStyle align-middle align-items-center mt-2">

    <div class="text-center fs-1 text-white fw-bolder " style="">
        Welcome to 3dCreated <br />
        3D printing services
    </div>

</div>
<div class="container footer">
    <div class="row rounded" style="margin-top:-50px; background-color:white">
        <div class="col-3">
            <div class="input-group mb-3 mt-5">
                <input type="text" class="form-control" placeholder="Search" aria-label="Search"
                    aria-describedby="basic-addon2" [(ngModel)]="searchText">
                <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon2" (click)="search()"> <fa-icon
                            [icon]="faMagnifyingGlass" class="point"></fa-icon></span>
                </div>
            </div>

            @if(loading){
            <div class="spinner-border text-info" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            }
            <div class="list-group list-group-flush">
                <a class="list-group-item  d-flex list-group-item-action justify-content-between point"
                    aria-current="true" (click)="loadSelected(0, $event)">
                    All categories
                    <span class="badge text-bg-primary rounded-pill">{{totalProduct}}</span>
                </a>
                @for(catg of categories; track catg.id) {
                <span class="list-group-item  d-flex list-group-item-action justify-content-between point"
                    aria-current="true" (click)="loadSelected(catg.id, $event)">
                    {{catg.name}}
                    <span class="badge text-bg-primary rounded-pill">{{catg.prodQuantity}}</span>
                </span>
                }

            </div>
            <div class="my-3 ms-2">
                <label for="customRange2" class="form-label"> <b>Price Range</b></label>
                <!-- <input type="range" class="form-range" min="5" max="100" id="customRange2" (change)="refresh($event)" [(ngModel)]="priceBarInput"> -->
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="5" aria-label="min"
                        (change)="priceChange($event)" [(ngModel)]="priceMin">
                    <span class="input-group-text me-5">$</span>
                    <input type="text" class="form-control" placeholder="100" aria-label="max"
                        (change)="priceChange($event)" [(ngModel)]="priceMax">
                    <span class="input-group-text">$</span>
                </div>
            </div>
        </div>
        <div class="col-9"> <!-- image must be max 1000w 596h-->

            <div class="row">
                <div class="col-8 ">
                    @if(searchDisplay){
                    Results: <button type="button" class="btn btn-outline-secondary mb-2 mt-2  btn-sm">{{searchDisplay}}
                        <fa-icon [icon]="faCircleXmark" size="xs" (click)="resetSearch()"></fa-icon></button>
                    }
                </div>

                <div class="col-2 float-end">
                    <div class="input-group mb-1 mt-2">
                        <span class="input-group-text" id="basic-addon3">Filter</span>
                        <select class="form-select form-select-sm ">
                            <option>13</option>
                            <option>26</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row ">
                @if(loading){
                <div class="spinner-border text-info" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                }
                @if(productList && productList.length > 0){
                <div *ngFor="let product of productList; index as idx" class="col-md-4 col-lg-4 my-2">

                    <div class="card h-100 ">
                        <span [routerLink]="['/viewProduct',product.id]" class="point">
                            <img crossorigin="anonymous" src="http://localhost:3000/{{product.coverImageThumb}}"
                                class="card-img-top" alt="...">
                            <div class="card-body" style="height:80px;max-height:80px">
                                <h6 class="card-title">{{product.title}}</h6>
                                <!-- <p class="card-text">{{product.description}}.</p> -->
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item text-end">{{product.price}}.00$</li>
                            </ul>
                        </span>
                        <div class="card-footer align-bottom ">
                            <button *ngIf="user && user.admin" type="button" class="btn btn-primary "
                                [routerLink]="['/editProduct',product.id]">Edit</button>
                            <button type="button" class="btn btn-primary float-end"
                                [routerLink]="['/addToCart',product.id]"> Add to
                                cart</button>
                        </div>
                    </div>
                </div>
                }@else {
                <div class="col-md-4 col-lg-4 my-2">
                    No Products found
                </div>
                }

            </div>
        </div>
    </div>
</div>