<div class="container mt-5">
    <section class="h-100">
        <div class="container h-100">
            <div class="row justify-content-sm-center h-100">
                <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
                    <div class="card  border-0">
                        <div class="card-body p-5">
                            <h1 class="fs-4 card-title fw-bold mb-4">Login</h1>
                            <form [formGroup]="loginForm" class="needs-validation" novalidate="" autocomplete="off">
                                <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
                                    {{errorMessage}}
                                </div>
                                <div *ngIf="messageInfo.length > 0" class="alert alert-info" role="alert">
                                    {{messageInfo}}
                                </div>
                                

                                <div class="mb-3">
                                    <label class="mb-2 text-muted" for="email">E-Mail Address</label>
                                    <input id="email" type="email" class="form-control" formControlName="email" required
                                        autofocus
                                        [ngClass]="{ 'is-invalid':  f['email'].invalid && (f['email'].dirty || f['email'].touched) }">
                                    @if (f['email'].invalid && (f['email'].dirty || f['email'].touched)) {
                                    <div class="invalid-feedback">
                                        @if (f['email'].errors?.['required']) {
                                        <div>Email is required</div>
                                        }
                                        @if (f['email'].errors?.['email']) {
                                        <div>Enter a valid email</div>
                                        }
                                    </div>
                                    }

                                </div>

                                <div class="mb-3">
                                    <div class="mb-2 w-100">
                                        <label class="text-muted" for="password">Password</label>
                                        <a href="#" class="float-end" routerLink="/resetPassword">
                                            Forgot Password?
                                        </a>
                                    </div>
                                    <input id="password" type="password" class="form-control" formControlName="password"
                                        required
                                        [ngClass]="{ 'is-invalid':  f['password'].invalid && (f['password'].dirty || f['password'].touched) }">
                                    @if (f['password'].invalid && (f['password'].dirty || f['password'].touched)) {
                                    <div class="invalid-feedback">
                                        @if (f['password'].errors?.['required']) {
                                        <div>Password is required</div>
                                        }
                                    </div>
                                    }
                                </div>

                                <div class="d-grid">
                                    <button type="submit" class="btn btn-primary " (click)="submit()"
                                        [disabled]="this.loginForm.invalid || loading">
                                        <span class="spinner-border spinner-border-sm" aria-hidden="true" *ngIf="loading" ></span>
                                        Login
                                    </button>
                                </div>

                            </form>
                        </div>
                        <div class=" py-3 border-0">
                            <div class="text-center">
                                Don't have an account? <a href="#" class="text-dark" routerLink="/signup">Create One</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- <div class="row justify-content-center">
        <div class="col-md-4">
            <h2 class="mb-4">Login</h2>
            <form id="loginForm">
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" name="username" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
                <div class="d-grid">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
            <div class="text-center mt-2">
                <a href="#" >forgot passwod?</a>
            </div>
            </form>
        </div>
    </div> -->
</div>