<div class="container mt-2 footer" *transloco="let t">
  <div class="row">

    @if(messageSub.length === 0){
    <div class="col-7">
      <h2 class="">{{ t('quote.html.uploadModel') }}</h2>
      <div *ngIf="message.length > 0" class="alert alert-info text-center " role="success">
        {{message}}
      </div>

      @if(!newStl){


      <div class="modelCont rounded border-dark bg-light" appDnd (fileDropped)="onFileDropped($event)">
        <input type="file" #fileDropRef id="fileDropRef" (change)="fileBrowseHandler($event)" accept=".stl" />
        <!-- <img src="assets/img/dnd/ic-upload-file.svg" alt=""> -->
        <h3>{{ t('quote.html.dndFile') }}</h3>
        <h3>{{ t('quote.html.or') }}</h3>
        <label for="fileDropRef">{{ t('quote.html.uplYourModel') }}</label>
      </div>

      <div class="files-list">
        @if(file){
        <!-- <div class="single-file" *ngFor="let file of files; let i = index"> -->
        <!-- <img src="assets/img/dnd/ic-file.svg" width="45px" alt="file"> -->
        <div class="info">
          <h4 class="name">
            {{ file?.name }}
          </h4>
          <ngb-progressbar class="mb-3" type="info" textType="dark" [value]="file?.progress" [showValue]="true" />
          <p class="size">
            {{ formatBytes(file?.size) }}
          </p>
        </div>
        <!-- <img src="assets/img/dnd/ic-delete-file.svg" class="delete" width="20px" alt="file" (click)="deleteFile(i)"> -->
        }
      </div>
      <div><b>{{ t('quote.html.fileMax') }}</b></div>

      <!-- </div> -->
      }
      @if(newStl){
      <div class="ms-2" style="font-size: 18px;font-weight: 500;color: #353f4a">
        {{ t('quote.html.name') }}: {{ file?.name }}
      </div>
      <div class="ms-2" style="font-size: 18px;font-weight: 500;color: #353f4a">
        <!-- <div class="col">Height
          <input type="text" class="form-control" placeholder="Height" value="{{height}}">
        </div>
        <div class="col">Width
          <input type="text" class="form-control" placeholder="Width" value="0">
        </div>
        <div class="col">Length
          <input type="text" class="form-control" placeholder="Length" value="0">
        </div> -->
        {{ t('quote.html.dim') }}: {{stlDimensions[0]}} x {{stlDimensions[1]}} x {{stlDimensions[2]}}mm
      </div>

      <div style="border-style: solid; height:500px">
        <stl-model-viewer [centered]="true" [stlModels]="[newStl]"></stl-model-viewer>
      </div>

      }

    </div>
    <div class="col-4">

      <form [formGroup]="quoteForm" enctype="multipart/form-data">

        <label for="materialInput" class="form-label"><b> {{ t('quote.html.material') }} </b></label>
        <div class="mb-3 input-group">
          <select class="form-select rounded" aria-label="Default select Material" formControlName="material">
            <option selected value="" >{{ t('quote.html.selMat') }}</option>
            <option value="PLA">PLA</option>
            <option value="ABS">ABS</option>
            <option value="PETG">PTEG</option>
          </select>
          <span class="input-group-text ms-1 rounded p-1 bg-info" (click)="open(content, 1)">
            <fa-icon [icon]="faQuestion" class="point"></fa-icon>
          </span>
        </div>
        <label for="colorsInput" class="form-label"><b>{{ t('quote.html.Color') }}</b></label>
        <div class="mb-3 input-group">
          <select class="form-select rounded" aria-label="Default select colors" formControlName="color">
            <option selected value="">{{ t('quote.html.selColor') }}</option>
            <option value="Black">Black</option>
            <option value="Green">Green</option>
            <option value="Blue">Blue</option>
          </select>
          <span class="input-group-text ms-1 rounded p-1 bg-info" (click)="open(content, 2)">
            <fa-icon [icon]="faQuestion" class="point"></fa-icon>
          </span>
        </div>
        <label for="infilInput" class="form-label"><b>{{ t('quote.html.infill') }}</b></label>
        <div class="mb-3 input-group">
          <select class="form-select rounded" aria-label="Default select infil" formControlName="infil">
            <!-- <option selected>Infill density</option> -->
            <option value="0">0%</option>
            <option value="5">5%</option>
            <option value="10">10%</option>
            <option value="15">15%</option>
            <option selected value="20">20%</option>
            <option value="25">25%</option>
            <option value="30">30%</option>
            <option value="35">35%</option>
            <option value="40">40%</option>
            <option value="45">45%</option>
            <option value="50">50%</option>
            <option value="55">55%</option>
            <option value="60">60%</option>
            <option value="65">65%</option>
            <option value="70">79%</option>
            <option value="75">75%</option>
            <option value="80">80%</option>
            <option value="85">85%</option>
            <option value="90">90%</option>
            <option value="95">95%</option>
            <option value="100">100%</option>
          </select>
          <span class="input-group-text ms-1 rounded p-1 bg-info" (click)="open(content, 2)">
            <fa-icon [icon]="faQuestion" class="point"></fa-icon>
          </span>
        </div>
        <label for="layersInput" class="form-label"><b>{{ t('quote.html.layer') }}</b></label>
        <div class="mb-3 input-group">
          <select class="form-select rounded" aria-label="Default select layer height" formControlName="layerHeight">
            <!-- <option selected>Layer height</option> -->
            <option value="0.12">0.12</option>
            <option value="0.16">0.16</option>
            <option selected value="0.20">0.20</option>
          </select>
          <span class="input-group-text ms-1 rounded p-1 bg-info" (click)="open(content, 2)">
            <fa-icon [icon]="faQuestion" class="point"></fa-icon>
          </span>
        </div>
        <label for="wallsInput" class="form-label"><b>{{ t('quote.html.wall') }}</b></label>
        <div class="mb-3 input-group">
          <select class="form-select rounded" aria-label="Default select wall count" formControlName="wallCount">
            <!-- <option selected>Wall count</option> -->
            <option selected value="2">2</option>
            <option value="4">4</option>
            <option value="6">6</option>
          </select>
          <span class="input-group-text ms-1 rounded p-1 bg-info" (click)="open(content, 2)">
            <fa-icon [icon]="faQuestion" class="point"></fa-icon>
          </span>
        </div>

        <div class="mb-3">
          <label for="quoteemail" class="form-label"><b>{{ t('quote.html.email') }}</b></label>
          <input id="email" type="email" class="form-control" formControlName="email" required
            placeholder="E-mail address"
            [ngClass]="{ 'is-invalid':  f['email'].invalid && (f['email'].dirty || f['email'].touched) }">
          @if (f['email'].invalid && (f['email'].dirty || f['email'].touched)) {
          <div class="invalid-feedback">
            @if (f['email'].errors?.['required']) {
            <div>{{ t('quote.html.email_req') }}</div>
            }
            @if (f['email'].errors?.['email']) {
            <div>{{ t('quote.html.email_valid') }}</div>
            }
          </div>
          }
        </div>
        <div class="mb-3">
          <label for="quoteDetails" class="form-label"><b>{{ t('quote.html.addInfo') }}: </b></label>
          <st-editor formControlName="additionalInfo" [config]="config"></st-editor>
          <!-- <textarea class="form-control" placeholder="Add additional details" formControlName="additionalInfo"></textarea> -->

        </div>
        <div class="mb-3">
          <p><b>{{ t('quote.html.answer') }}</b> </p>
          <button class="btn btn-warning mr-2" (click)="clearOrRestart()" [disabled]="submitted"
            style="margin-right:10px">Clear</button>
          <button class="btn btn-primary" type="submit" [disabled]="quoteForm.invalid" (click)="submit()">
            <!-- <button class="btn btn-primary" type="submit" (click)="submit()"> -->
            <span class="spinner-border spinner-border-sm" aria-hidden="true" *ngIf="submitted"></span>
            {{ t('quote.html.reqBtn') }}
          </button>
        </div>
      </form>
    </div>
    }@else {
    <div class="col-8 mx-auto">
      <div *ngIf="messageSub.length > 0" class="alert alert-info text-center " role="success">
        {{messageSub}}
      </div>
      <div class="text-center">
        <button class="btn btn-warning mx-auto"
          (click)="newStl = undefined; file = undefined; messageSub = ''; submitted=false " style="margin-right:10px">
          {{ t('quote.html.subOthBtn') }} </button>
      </div>
    </div>
    }
  </div>
</div>

<ng-template #content let-modal >
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{modalMessage.title}}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    {{modalMessage.body}}
  </div>
  <div class="modal-footer"  *transloco="let t">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">{{ t('quote.html.btnClose') }}close</button>
  </div>
</ng-template>