<h4 class="mb-2" *transloco="let t">{{ t('quoteList.html.title') }}  </h4>

<form>
	<div class="mb-3 row" *transloco="let t">
		<!-- <label for="table-filtering-search" class="col-xs-3 col-sm-auto col-form-label">Full text search:</label> -->
		<div class="col-xs-3 col-sm-auto">
			<label for="quoteStatus" class="form-label"><b>{{ t('quoteList.html.status') }}</b></label>
			<select class="form-select"  (change)="statusSearch($event)" [disabled]="loading" >
			  <option selected value="all" >{{ t('quoteList.html.all') }}</option>
			  @for (status of statusArray ; track status; let i = $index) {
			  	<option value="{{status}}">{{status}}</option>  
			  }
			</select>
		</div>
	</div>
</form> 

@if(loading){
	<div class="spinner-border text-info" role="status">
		<span class="visually-hidden">Loading...</span>
	</div>
}@else{
<table class="table table-hover table-responsive" *transloco="let t">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col" >{{ t('quoteList.html.email') }}</th>
			<th scope="col" >{{ t('quoteList.html.status') }}</th>
			<th scope="col">{{ t('quoteList.html.created') }}</th>
            <th scope="col" >{{ t('quoteList.html.stl') }}</th>
		
		</tr>
	</thead>
	<tbody>
		@for (quote of quoteList ; track quote; let i = $index) {
			
			<tr>
				<th scope="row">{{ i + 1 }}</th>
                <td (click)="collapse.toggle()" class="point" [attr.aria-expanded]="!isCollapsed[i]">{{quote.fromEmail}}</td>
                <td>
					<!-- {{quote.status}} -->
					<select #qStataus class="form-select" (change)="updateQuoteStatus(quote.id, qStataus.value)">
						<option *ngFor="let status of statusArray" [value]="status" [selected]="quote.status == status ? status : ''"> 
							{{status}}
						</option>
					</select>

				</td>
                <td>{{ quote.createdAt | date : " YYYY-MM-dd hh:mm" }}</td>
                <td ><a  (click)="stlFile(quote.stlFile)" class="point" >STL file</a> </td>
				<!-- <td><button	type="button"	class="btn btn-outline-primary"	(click)="collapse.toggle()"
					[attr.aria-expanded]="!isCollapsed[i]"	aria-controls="collapseExample"	>
					Toggle 
					</button>
				</td> -->
			</tr>
				
				<tr #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed[i]">
					<td colspan="5" >
						<div class="card">
							<div class="card-body">
								<div >
									<b>{{ t('quoteList.html.material') }}:</b> 
									<p>{{quote.material}}</p>
								</div>
								<div >
									<b>{{ t('quoteList.html.color') }}:</b> 
									<p>{{quote.color}}</p>
								</div>
								<div >
									<b>{{ t('quoteList.html.infill') }}:</b> 
									<p>{{quote.infil}}</p>
								</div>
								<div >
									<b>{{ t('quoteList.html.layerH') }}:</b> 
									<p>{{quote.layerHeight}}</p>
								</div>
								<div >
									<b >{{ t('quoteList.html.wallC') }}:</b> 
									<p>{{quote.wallCount}}</p>
								</div>
								<div >
									<b>{{ t('quoteList.html.addInfo') }}:</b> 
									<p [innerHtml]="quote.additionalInfo"></p>
								</div>
							</div>
						</div>
					</td>
				
				</tr>
				<!-- <td>
					<img
						[src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.flag"
						[alt]="'The flag of ' + country.name"
						class="me-2"
						style="width: 20px"
					/>
					<ngb-highlight [result]="country.name" [term]="filter.value" />
				</td>
				<td><ngb-highlight [result]="country.area | number" [term]="filter.value" /></td>
				<td><ngb-highlight [result]="country.population | number" [term]="filter.value" /></td> -->
		
		} @empty {
			<tr>
				<td colspan="5" style="text-align: center">{{ t('quoteList.html.noQuoteFound') }}</td>
			</tr>
		}
	</tbody>
</table>
}
