<div class="container footer" *transloco="let t">
  <h2> @if ( editProductId) {
    <span >{{ t('manageProduct.html.editTitle') }}</span>
    } @else {
     <span >{{ t('manageProduct.html.addTitle') }}</span>
    }</h2>


  <form [formGroup]="form"  enctype="multipart/form-data">
    <div class="mb-3">
      <label for="productTitle" class="form-label"><b>{{ t('manageProduct.html.prodTitle') }}</b></label>
      <input type="text" class="form-control" id="productTitle" aria-describedby="titleHelp" formControlName="title"
      [ngClass]="{ 'is-invalid':  f['title'].invalid && (f['title'].dirty || f['title'].touched) }"[disableControl]="submitted">
         <!-- [ngClass]="{ 'is-invalid':  submitted && f['title'].errors  }" -->
        <!-- myForm.get('email').invalid && (myForm.get('email').dirty || myForm.get('email').touched) -->

      <div class="invalid-feedback"
        *ngIf="f['title'].invalid && (f['title'].dirty || f['title'].touched)">

        @if (f['title'].errors?.['required'] ) {
        <div >{{ t('manageProduct.html.errTitleReq') }}</div>
        }
        @if (f['title'].errors?.['minlength']) {
        <div>{{ t('manageProduct.html.errtitleMin') }}</div>
        }
        @if (f['title'].errors?.['maxlength']) {
        <div>{{ t('manageProduct.html.errTitleMax') }}</div>
        }
      </div>
    </div>
    <div class="mb-3">
      <label for="productTitle" class="form-label"><b>{{ t('manageProduct.html.catgTitle') }}</b></label>
      <select class="form-select" aria-label="Default select example"  formControlName="category">
        <option selected value="-1" >{{ t('manageProduct.html.selCatgFiller') }}</option>
        <option *ngFor="let cat of categories; index as idx" [value]="cat.id">{{cat.category}}</option>  
      </select>
    </div>

    <div class="mb-3">
      <label for="productPrice" class="form-label"><b>{{ t('manageProduct.html.priceTitle') }}</b></label>
      <input type="number" class="form-control" id="productPrice" formControlName="price"
        [ngClass]="{ 'is-invalid': f['price'].invalid && (f['price'].dirty || f['price'].touched) }" [disableControl]="submitted">

      @if (f['price'].invalid && (f['price'].dirty || f['price'].touched)) {
      <div class="invalid-feedback">
        @if (f['price'].errors?.['required']) {
        <div>{{ t('manageProduct.html.errPriceReq') }}</div>
        }
        @if (f['price'].errors?.['pattern']) {
        <div>{{ t('manageProduct.html.errPriceNbrOnly') }}</div>
        }
      </div>
      }
    </div>
    <div class="mb-3">
      <label for="productQuantity" class="form-label"><b>{{ t('manageProduct.html.qtyTitle') }}</b></label>
      <input type="number" class="form-control" id="productQuantity" formControlName="quantity"
        [ngClass]="{ 'is-invalid': f['quantity'].invalid && (f['quantity'].dirty || f['quantity'].touched) }" [disableControl]="submitted">

      @if (f['quantity'].invalid && (f['quantity'].dirty || f['quantity'].touched)) {
      <div class="invalid-feedback">
        @if (f['quantity'].errors?.['required']) {
        <div>{{ t('manageProduct.html.errQtyReq') }}</div>
        }
        @if (f['quantity'].errors?.['pattern']) {
        <div>{{ t('manageProduct.html.errQtyNbrOnly') }}</div>
        }
      </div>
      }

    </div>
    <div class="mb-3">
      <label for="productDescription" class="form-label"><b >{{ t('manageProduct.html.descTitle') }}</b></label>

      <st-editor formControlName="description" [config]="config"></st-editor>

        @if (f['description'].invalid && (f['description'].dirty || f['description'].touched)) {
        <div style="color: red;font-size: .875em">
          @if (f['description'].errors?.['required']) {
          <div>{{ t('manageProduct.html.errDescReq') }}</div>
          }
          @if (f['description'].errors?.['minlength']) {
          <div>{{ t('manageProduct.html.errDescMin') }}</div>
          }
          @if (f['description'].errors?.['maxlength']) {
          <div>{{ t('manageProduct.html.errDescMax') }}</div>
          }
        </div>
        } 
    </div>


    <div class="mb-3">
      
      <label for="productImage" class="form-label"><b>{{ t('manageProduct.html.coverImgTitle') }}</b></label>
      <input #productImage type="file" class="form-control" id="productImage"
        (change)="this.coverFileChangeHandler($event)" accept=".jpg,.png,.gif,.jpeg"
        [ngClass]="{ 'is-invalid': toManyFiles || noCoverFile }" [disabled]="submitted">

      @if (toManyFiles){
      <div class="invalid-feedback" >
        {{ t('manageProduct.html.errCoverImgMaxFiles') }}
      </div>
      }
      @if(noCoverFile){
        <div class="invalid-feedback" >
          {{ t('manageProduct.html.errCoverImgReq') }} 
        </div>
      }
      <div class="d-inline-flex p-2" *ngIf="coverPreviewImg.length > 0">
        <img [src]="coverPreviewImg" class="preview" style="width:100px;height:100px;" crossorigin="anonymous" />
      </div>

    </div>

    <div class="mb-3">
      <label for="productImage" class="form-label"> {{ t('manageProduct.html.addImgtitle') }} </label>
      <input #productImage type="file" class="form-control" id="productImage" (change)="this.fileChangeHandler($event)"
        multiple accept=".jpg,.png,.gif,.jpeg" [ngClass]="{ 'is-invalid': toManyFiles }" [disabled]="submitted">

      @if (toManyFiles){
      <div class="invalid-feedback">
        {{ t('manageProduct.html.errAddImgMaxFiles') }} 
      </div>
      }
      <div class="d-inline-flex p-2">
        <span *ngFor="let p of previewImgList; index as idx" class="p-1">
          <img [src]="p.preview" class="preview" style="width:100px;height:100px;" crossorigin="anonymous"/>
          <fa-icon *ngIf="!submitted" [icon]="faTrash" style="margin-left: -15px; vertical-align: top; color: red"
            (click)="removeImageFile(idx, p.fileId)"></fa-icon>
        </span>
      </div>

    </div>
    <button class="btn btn-warning me-2" type="button" [disabled]="submitted" [routerLink]="['/']" >
      {{ t('manageProduct.html.cancelBtn') }} 
    </button>
    <button class="btn btn-primary" type="submit" [disabled]="form.invalid || noCoverFile" (click)="onSubmit()">
      <span class="spinner-border spinner-border-sm" aria-hidden="true" *ngIf="submitted" ></span>
      <span>{{ t('manageProduct.html.subBtn') }} </span>
      
    </button>
<button (click)="disp()">a</button>
  </form>


</div>