<h4 class="mb-2"> Quote List </h4>

<form>
	<div class="mb-3 row">
		<!-- <label for="table-filtering-search" class="col-xs-3 col-sm-auto col-form-label">Full text search:</label> -->
		<div class="col-xs-3 col-sm-auto">
			<label for="quoteStatus" class="form-label"><b>Status</b></label>
			<select class="form-select" (change)="statusSearch($event)" [disabled]="loading">
				<option selected value="all">All</option>
				@for (status of statusArray ; track status; let i = $index) {
				<option value="{{status}}">{{status}}</option>
				}
			</select>
		</div>
	</div>
</form>

@if(loading){
<div class="spinner-border text-info" role="status">
	<span class="visually-hidden">Loading...</span>
</div>
}@else if(!viewOrder){
<table class="table table-hover table-responsive">
	<thead>

		<!-- declare public totalPrice: number;
        declare public status: string;
        declare public paymentSessionId: string;
        declare public orderRefId: number;
        declare public datePaid?: Date;
        declare public paymentIntentId?: string;
        declare public paymentProvider?: string; -->
		<tr>
			<th scope="col">Order #</th>
			<th scope="col">Date</th>
			<th scope="col">Status</th>
			<th scope="col">Total</th>
			<th></th>


		</tr>
	</thead>
	<tbody>
		@for (order of orderList ; track order.orderRefId; let i = $index) {

		<tr>
			<th scope="row">{{order.orderRefId}}</th>
			<td>{{ order.createdAt | date : " YYYY-MM-dd hh:mm" }}</td>
			<td>{{order.status}}</td>

			<td>${{order.totalPrice.toFixed(2)}} </td>
			<td class="text-center">
				<button type="button" class="btn btn-outline-primary" (click)="loadSingleOrder(order.orderRefId)">
					View
				</button>
			</td>
		</tr>


		} @empty {
		<tr>
			<td colspan="5" style="text-align: center">No quotes found</td>
		</tr>
		}
	</tbody>
</table>
}@else if(viewOrder){
<div class="container footer">
	<div class="row">
		
		<h4>Order #{{order.orderRefId}} was placed on {{order.createdAt | date : "  MMM d, y" }} and is currently {{order.status}}.
			<fa-icon class="text-success" [icon]="faCircleCheck"></fa-icon>
		</h4>

		<div class="col-12 text-end mt-2">
			<h1>INVOICE</h1>
			<h1><small>Invoice #001</small></h1>
		</div>
		<hr>

		<div class="row justify-content-between mb-3 pe-0">
			<div class="col-4 ps-0">
				<div class="card  ">
					<div class="card-header">
						<h4>Invoice</h4>
					</div>
					<div class="card-body">
						<p><b>Invoice #:</b> {{order.orderRefId}}</p>
						<p><b>Date Paid:</b> {{order.datePaid | date : " YYYY-MM-dd hh:mm" }}</p> 
						<p><b>Status:</b> {{order.status }}</p>
					</div>
				</div>
			</div>
			<div class="col-4  text-end pe-0">
				<div class="card h-100 ">
					<div class="card-header">
						<h4>To : <a href="#">{{user.firstName}} {{user.lastName}}</a></h4>
					</div>
					<div class="card-body">
						<p>
							{{user.email}} <br>
						</p>
					</div>
				</div>
			</div>
		</div> <!-- / end client details section -->

		<div class="ps-0">
			<h3> Order details</h3>
		</div>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th class="bg-secondary">
						<h4>Product</h4>
					</th>
					<th class="bg-secondary">
						<h4>Description</h4>
					</th>
					<th class="bg-secondary">
						<h4>Quantity</h4>
					</th>
					<th class="bg-secondary">
						<h4>Price</h4>
					</th>
					<th class="bg-secondary">
						<h4>Sub Total</h4>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>New car</td>
					<td><a href="#">Title of your article here</a></td>
					<td class="text-right">1</td>
					<td class="text-right">$200.00</td>
					<td class="text-right">$200.00</td>
				</tr>
				<tr>
					<td>Nice Lamp</td>
					<td>Details of project here</td>
					<td class="text-right">10</td>
					<td class="text-right">75.00</td>
					<td class="text-right">$750.00</td>
				</tr>
				<tr style="border-width: 0px;">
					<td colspan="3" style="border-width: 0px;"></td>
					<td align="right" style="border-width: 2px;">Sub total:</td>
					<td style="border-width: 2px;"> 2000</td>
				</tr>
				<tr style="border-width: 0px;">
					<td colspan="3" style="border-width: 0px;"></td>
					<td align="right" style="border-width: 2px;">Total:</td>
					<td style="border-width: 2px;"> 2000</td>
				</tr>
			</tbody>
		</table>







	</div>
</div>
}