<h4 class="mb-2" *transloco="let t"> {{ t('orderList.html.title') }} </h4>

<form>
	<div class="mb-3 row" *transloco="let t">
		<!-- <label for="table-filtering-search" class="col-xs-3 col-sm-auto col-form-label">Full text search:</label> -->
		<div class="col-xs-3 col-sm-auto">
			<label for="quoteStatus" class="form-label"><b>{{ t('orderList.html.status') }}</b></label>
			<select class="form-select" (change)="statusSearch($event)" [disabled]="loading">
				<option selected value="all">{{ t('orderList.html.all') }}</option>
				@for (status of statusArray ; track status; let i = $index) {
				<option value="{{status}}">{{status}}</option>
				}
			</select>
		</div>
	</div>
</form>

@if(loading){
<div class="spinner-border text-info" role="status">
	<span class="visually-hidden">Loading...</span>
</div>
}@else if(!viewOrder){
<table class="table table-hover table-responsive" *transloco="let t">
	<thead>
		<tr>
			<th scope="col" >{{ t('orderList.html.orderNbr') }}</th>
			<th scope="col" >{{ t('orderList.html.date') }}</th>
			<th scope="col">{{ t('orderList.html.status') }}</th>
			<th scope="col" >{{ t('orderList.html.total') }}</th>
			<th></th>


		</tr>
	</thead>
	<tbody>
		@for (order of orderList ; track order.orderRefId; let i = $index) {

		<tr>
			<th scope="row">{{order.orderRefId}}</th>
			<td>{{ order.createdAt | date : " YYYY-MM-dd hh:mm" }}</td>
			<td>{{order.status}}</td>

			<td>${{order.totalPrice.toFixed(2)}} </td>
			<td class="text-center">
				<button type="button" class="btn btn-outline-primary" (click)="loadSingleOrder(order.orderRefId)">
					<span >{{ t('orderList.html.viewBtn') }} </span>
				</button>
			</td>
		</tr>


		} @empty {
		<tr>
			<td colspan="5" style="text-align: center" >{{ t('orderList.html.noQuoteFnd') }}</td>
		</tr>
		}
	</tbody>
</table>
}@else if(viewOrder){
<div class="container footer" *transloco="let t">
	<div class="row">
		
		<h4>
			{{ t('orderList.html.orderPlaced1', { orderId: order.orderRefId }) }} {{order.createdAt | date : "  MMM d, y" }} 
			{{ t('orderList.html.orderPlaced2', { status: order.status }) }}
			
			<!-- Order #{{order.orderRefId}} was placed on {{order.createdAt | date : "  MMM d, y" }} and is currently {{order.status}}. -->
			<fa-icon class="text-success" [icon]="faCircleCheck"></fa-icon>
		</h4>

		<div class="col-12 text-end mt-2">
			<h1>{{ t('orderList.html.invoiceTitle') }}</h1>
			<h1><small >{{ t('orderList.html.invoiceNumber') }}: {{order.orderRefId}}</small></h1>
		</div>
		<hr>

		<div class="row justify-content-between mb-3 pe-0">
			<div class="col-4 ps-0">
				<div class="card  ">
					<div class="card-header">
						<h4>{{ t('orderList.html.smallInvoiceTitle') }}</h4>
					</div>
					<div class="card-body">
						<p><b>{{ t('orderList.html.invNbr') }}:</b> {{order.orderRefId}}</p>
						<p><b>{{ t('orderList.html.datePaid') }}:</b> {{order.datePaid | date : " YYYY-MM-dd hh:mm" }}</p> 
						<p><b>{{ t('orderList.html.status') }}:</b> {{order.status }}</p>
					</div>
				</div>
			</div>
			<div class="col-4  text-end pe-0">
				<div class="card h-100 ">
					<div class="card-header">
						<h4>{{ t('orderList.html.to') }} : <a href="#">{{user.firstName}} {{user.lastName}}</a></h4>
					</div>
					<div class="card-body">
						<p>
							{{user.email}} <br>
						</p>
					</div>
				</div>
			</div>
		</div> <!-- / end client details section -->

		<div class="ps-0">
			<h3>{{ t('orderList.html.orderDtl') }} </h3>
		</div>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th class="bg-secondary " width="60%">
						<h4 >{{ t('orderList.html.product') }}</h4>
					</th>
					<!-- <th class="bg-secondary">
						<h4>{{ t('orderList.html.desc') }}</h4>
					</th> -->
					<th class="bg-secondary" width="10%">
						<h4 >{{ t('orderList.html.qty') }}</h4>
					</th>
					<th class="bg-secondary" width="15%">
						<h4>{{ t('orderList.html.price') }}</h4>
					</th>
					<th class="bg-secondary" width="15%">
						<h4>{{ t('orderList.html.subTot') }}</h4>
					</th>
				</tr>
			</thead>
			<tbody>

				@for (product of order.products ; track product; let i = $index) {
					<tr>
						<td >{{product.title}}</td>
						<!-- <td class="">{{product.description.substring(0, 4)}}</td> -->
						<td align="right">{{product.orderProduct.quantity}}</td>
						<td align="right">${{product.price.toFixed(2)}}</td>
						<td align="right">${{ (product.price * product.orderProduct.quantity).toFixed(2) }}</td>
					</tr>
					}

				<tr style="border-width: 0px;">
					<td colspan="2" style="border-width: 0px;"></td>
					<td align="right" style="border-width: 2px;">{{ t('orderList.html.subTot') }}:</td>
					<td align="right" style="border-width: 2px;"> ${{order.totalPrice.toFixed(2)}}</td>
				</tr>
				<tr style="border-width: 0px;">
					<td colspan="2" style="border-width: 0px;"></td>
					<td align="right" style="border-width: 2px;">Total:</td>
					<td align="right" style="border-width: 2px;"> ${{order.totalPrice.toFixed(2)}}</td>
				</tr>
			</tbody>
		</table>







	</div>
</div>
}