<div class="container mt-2 " *transloco="let t">
    <section class="h-100 ">
        <div class="container h-100">
            <div class="row justify-content-sm-center h-100 ">
                <div [ngClass]=" {'col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9': forgotPassword , 'col-lg-6 col-sm-12': !forgotPassword}">
                    <div class="card  border-0 bg-light">
                        <div class="card-body p-4">
                              <div *ngIf="resetMessage.length > 0" class="alert alert-success text-center " role="success">
                                    {{resetMessage}}
                                </div>
                                  <div  *ngIf="errorResetMessage.length > 0"  class="alert alert-danger text-center " role="danger">
                                    {{errorResetMessage}}                                  
                                </div>
                            @if(resetMessage.length === 0 && errorResetMessage.length === 0){
                            <h1 class="fs-4 card-title fw-bold mb-4">{{ t('changePass.html.title') }}</h1>
                            <form [formGroup]="chPassForm" class="needs-validation" novalidate="" autocomplete="off">                       
                                
                                <div class="mb-3">
                                    <div class="mb-2 w-100">
                                        <label class="text-muted" for="password">{{ t('changePass.html.Password') }}</label>
                                    </div>
                                    <input id="password" type="password" class="form-control" formControlName="password"
                                        required
                                        [ngClass]="{ 'is-invalid':  f['password'].invalid && (f['password'].dirty || f['password'].touched) }">
                                    @if (f['password'].invalid && (f['password'].dirty || f['password'].touched)) {
                                    <div class="invalid-feedback">
                                        @if (f['password'].errors?.['required']) {
                                        <div>{{ t('changePass.html.passReq') }}</div>
                                        }
                                        @if (!f['password'].value?.match('^(?=.*[A-Z])') ) {
                                        <div>{{ t('changePass.html.passUpperLetter') }}</div>
                                        }
                                        @if (!f['password'].value?.match('(?=.*[a-z])')) {
                                        <div>{{ t('changePass.html.passLowerLetter') }}</div>
                                        }
                                        @if (!f['password'].value?.match('(.*[0-9].*)')) {
                                        <div>{{ t('changePass.html.passOneDigit') }}</div>
                                        }
                                        @if (!f['password'].value?.match('(?=.*[!@#$%^&*])')) {
                                        <div>{{ t('changePass.html.passOneSpecial') }}</div>
                                        }
                                        @if (f['password'].errors?.['minlength']) {
                                        <div>{{ t('changePass.html.passLength') }}</div>
                                        }
                                    </div>
                                    }
                                </div>

                                <div class="mb-3">
                                    <div class="mb-2 w-100">
                                        <label class="text-muted" for="confirmPassword">{{ t('changePass.html.confPass') }}</label>
                                    </div>
                                    <input id="confirmPassword" type="password" class="form-control"
                                        formControlName="confirmPassword" required
                                        [ngClass]="{ 'is-invalid':  f['confirmPassword'].invalid && (f['confirmPassword'].dirty || f['confirmPassword'].touched) }">
                                    @if (f['confirmPassword'].invalid && (f['confirmPassword'].dirty ||
                                    f['confirmPassword'].touched)) {
                                    <div class="invalid-feedback">
                                        @if (f['confirmPassword'].errors?.['required']) {
                                        <div>{{ t('changePass.html.passReq') }}</div>
                                        }
                                        @if (f['confirmPassword'].errors?.['mustMatch']) {
                                        <div>{{ t('changePass.html.passNoMatch') }}</div>
                                        }
                                    </div>
                                    }
                                </div>

                                <div class="d-grid" [ngClass]="{'col-6':!forgotPassword}">
                                    <button type="submit" class="btn btn-primary " (click)="submit()"
                                        [disabled]="this.chPassForm.invalid">
                                        <span class="spinner-border spinner-border-sm" aria-hidden="true"
                                            *ngIf="submitted"></span>
                                            {{ t('changePass.html.chgPassBtn') }}
                                    </button>
                                </div>
                            </form>
                        }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>









<!-- <div class="container mt-2">
    <section class="h-100">
        <div class="container h-100">
            <div class="row justify-content-sm-center h-100">
                <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
                    <div class="card  border-0">
                        <div class="card-body p-5">
                              <div *ngIf="resetMessage.length > 0" class="alert alert-success text-center " role="success">
                                    {{resetMessage}}
                                </div>
                                  <div  *ngIf="errorResetMessage.length > 0"  class="alert alert-danger text-center " role="danger">
                                    {{errorResetMessage}}                                  
                                </div>
                            @if(resetMessage.length === 0 && errorResetMessage.length === 0){
                            <h1 class="fs-4 card-title fw-bold mb-4">Change password</h1>
                            <form [formGroup]="chPassForm" class="needs-validation" novalidate="" autocomplete="off">                       
                                
                                <div class="mb-3">
                                    <div class="mb-2 w-100">
                                        <label class="text-muted" for="password">Password</label>
                                    </div>
                                    <input id="password" type="password" class="form-control" formControlName="password"
                                        required
                                        [ngClass]="{ 'is-invalid':  f['password'].invalid && (f['password'].dirty || f['password'].touched) }">
                                    @if (f['password'].invalid && (f['password'].dirty || f['password'].touched)) {
                                    <div class="invalid-feedback">
                                        @if (f['password'].errors?.['required']) {
                                        <div>Password is required</div>
                                        }
                                        @if (!f['password'].value?.match('^(?=.*[A-Z])') ) {
                                        <div>At least one uppercase letter is required</div>
                                        }
                                        @if (!f['password'].value?.match('(?=.*[a-z])')) {
                                        <div>At least one lowercase letter</div>
                                        }
                                        @if (!f['password'].value?.match('(.*[0-9].*)')) {
                                        <div>At least one digit.</div>
                                        }
                                        @if (!f['password'].value?.match('(?=.*[!@#$%^&*])')) {
                                        <div>At least one special character</div>
                                        }
                                        @if (f['password'].errors?.['minlength']) {
                                        <div>At least 8 characters long.</div>
                                        }
                                    </div>
                                    }
                                </div>

                                <div class="mb-3">
                                    <div class="mb-2 w-100">
                                        <label class="text-muted" for="confirmPassword">Confirm password</label>
                                    </div>
                                    <input id="confirmPassword" type="password" class="form-control"
                                        formControlName="confirmPassword" required
                                        [ngClass]="{ 'is-invalid':  f['confirmPassword'].invalid && (f['confirmPassword'].dirty || f['confirmPassword'].touched) }">
                                    @if (f['confirmPassword'].invalid && (f['confirmPassword'].dirty ||
                                    f['confirmPassword'].touched)) {
                                    <div class="invalid-feedback">
                                        @if (f['confirmPassword'].errors?.['required']) {
                                        <div>Password is required</div>
                                        }
                                        @if (f['confirmPassword'].errors?.['mustMatch']) {
                                        <div>Password do not match</div>
                                        }
                                    </div>
                                    }
                                </div>

                                <div class="d-grid">
                                    <button type="submit" class="btn btn-primary " (click)="submit()"
                                        [disabled]="this.chPassForm.invalid">
                                        <span class="spinner-border spinner-border-sm" aria-hidden="true"
                                            *ngIf="submitted"></span>
                                        Change password
                                    </button>
                                </div>
                            </form>
                        }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div> -->