.point {
    cursor: pointer
}

.footer {
    margin-bottom: 60px

}

/* body {
    background-image: url('http://localhost:4200/assets/3dPrint.jpg');
    min-height: 700px;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
} */

@media screen and (max-width: 992px) {
    .hideEle992 {
      display: none;
    }
  }

  @media screen and (min-width: 992px) {
    .showEle992 {
      display: none;
    }
  }