{{pageView}}
<div class="mb-3 mt-5">
  <h5>Account</h5>
  <ul class="list-group list-group-flush">

    
    <li class="list-group-item list-group-item-action point" [ngClass]="{'active': pageView === viewEnum.userInfo}"
      (click)="pageChange(viewEnum.userInfo)">Information</li> 
    <li class="list-group-item list-group-item-action point" [ngClass]="{'active': pageView === viewEnum.chPassword}"
      (click)="pageChange(viewEnum.chPassword)">Change Password</li>    
    <li class="list-group-item list-group-item-action point" [ngClass]="{'active': pageView === viewEnum.Orders}"
      (click)="pageChange(viewEnum.Orders) "> Orders</li>
    <li class="list-group-item list-group-item-action point" [ngClass]="{'active': pageView === viewEnum.QuoteSearch}"
      (click)="pageChange(viewEnum.QuoteSearch)">Quote Search</li>

  </ul>
</div>

@if(user && user.admin){
<div class="pt-3">
  <h5>Admin</h5>
  <ul class="list-group list-group-flush">
  
    <li class="list-group-item list-group-item-action point" [ngClass]="{'active': pageView === viewEnum.QuoteList}"
      (click)="pageChange(viewEnum.QuoteList)">Quotes List</li>
    <li class="list-group-item list-group-item-action point" [ngClass]="{'active': pageView === viewEnum.OrderList}"
      (click)="pageChange(viewEnum.OrderList)">Orders List</li>
    <li class="list-group-item list-group-item-action point" [ngClass]="{'active': pageView === viewEnum.UserList}"
      (click)="pageChange(viewEnum.UserList)">User list</li>
    
  </ul>
</div>
}

