
<div class="mb-3 mt-5" *transloco="let t">
  <h5>{{ t('myAcctSideBar.html.acc') }}</h5>
  <ul class="list-group list-group-flush">

    
    <li class="list-group-item list-group-item-action point" [ngClass]="{'active': pageView === viewEnum.userInfo}"
      (click)="pageChange(viewEnum.userInfo)">{{ t('myAcctSideBar.html.info') }}</li> 
    <li class="list-group-item list-group-item-action point" [ngClass]="{'active': pageView === viewEnum.chPassword}"
      (click)="pageChange(viewEnum.chPassword)">{{ t('myAcctSideBar.html.chPass') }}</li>    
    <li class="list-group-item list-group-item-action point" [ngClass]="{'active': pageView === viewEnum.Orders}"
      (click)="pageChange(viewEnum.Orders) "> {{ t('myAcctSideBar.html.orders') }}</li>
    <li class="list-group-item list-group-item-action point" [ngClass]="{'active': pageView === viewEnum.QuoteSearch}"
      (click)="pageChange(viewEnum.QuoteSearch)">{{ t('myAcctSideBar.html.quoteSearch') }}</li>

  </ul>
</div>

@if(user && user.admin){
<div class="pt-3"  *transloco="let t">
  <h5>{{ t('myAcctSideBar.html.admin') }}</h5>
  <ul class="list-group list-group-flush">
  
    <li class="list-group-item list-group-item-action point" [ngClass]="{'active': pageView === viewEnum.QuoteList}"
      (click)="pageChange(viewEnum.QuoteList)">{{ t('myAcctSideBar.html.quoteList') }}</li>
    <li class="list-group-item list-group-item-action point" [ngClass]="{'active': pageView === viewEnum.OrderList}"
      (click)="pageChange(viewEnum.OrderList)">{{ t('myAcctSideBar.html.ordList') }}</li>
    <li class="list-group-item list-group-item-action point" [ngClass]="{'active': pageView === viewEnum.UserList}"
      (click)="pageChange(viewEnum.UserList)">{{ t('myAcctSideBar.html.userList') }}</li>
    
  </ul>
</div>
}

